@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #111111;
  --secondary: #666666;
  --border: #e5e5e5;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
}